.fonctionnement_btn {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $background-color;
  width: 322.49px;
  height: 72.38px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement_numberBox {
  background-color: $btn-purple-dark;
  position: absolute;
  left: -13px;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}
.fonctionnement_numero {
  font-size: 0.88625rem;
  color: $white;
  position: absolute;
  top: 5px;
  left: 0.5rem;
}
.fonctionnement_logo {
  color: $btn-icone-grey;
  position: absolute;
  left: 10%;
}
.fonctionnement_text {
  margin-left: 80px;
}
.fonctionnement_btn .fa-store {
  color: $btn-purple-dark;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
  }
  .fonctionnement_box {
    width: 375px;
    height: 440px;
  }
  .fonctionnement_titre {
    margin: 48px 80px 26px 20px;
  }
  .fonctionnement_boxbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
    margin-left: 0.75rem;
  }