.footer {
    background-color: $background-grey-dark;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 1.375rem 1.5625rem;
    gap: 1rem;
  }
  .footer_liste {
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
  }
  .footer_liste--comp {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .footer_liste a {
    color: $white;
  }
  .footer_liste .strong {
    font-weight: 500;
  }
  