.reservez {
    text-align: center;
    width: 100%;
    background-color: $background-color;
  }
  .titre_reservez {
    padding-top: 30px;
    font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  }
  .reservez_p {
    font-weight: 300;
    font-size: 1.125rem;
    margin: 1.125rem 1.625rem 1.6875rem 2.125rem;
  }
  .reservez_b {
    margin: 0 4.6875rem 3.5625rem 5.125rem;
  }

  .reservez_b {
    display: inline-block;
    background: linear-gradient(193.33deg, $btn-purple-light -11.44%, $btn-purple-dark 123.93%);
    color: $white;
    padding: 0.8125rem;
    width: 13.625rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 1.5625rem;
    transition-property: transform;
    transition: transform 500ms ease-in-out;
  }
  .reservez_b:hover {
    transform: scale(1.15);
    background: linear-gradient(193.33deg, $btn-purple-dark -11.44%, $btn-purple-light 123.93%);
    box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 1.5625rem;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }